node_modules/
.env
.DS_Store
dist/

# Ignore frontend dependencies
frontend/node_modules/
frontend/dist/
frontend/.env

# Ignore other junk
.sfdx/
temp.html
practise.js
# Unnecessary files
run.txt
temp.html
